@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Set the darkMode variable either to true or false
// $darkMode: true; 
$darkMode: false; 

// Define the colors based on the darkMode variable
$pageBackgroundColor: if($darkMode, rgb(28, 23, 18), rgb(255, 255, 255));
$headerBackgroundColor: if($darkMode, rgb(40, 35, 30), rgb(245, 245, 245));
$titleFontColor: if($darkMode, rgb(255, 255, 255), rgb(28, 23, 18));
$headingColor: if($darkMode, rgb(251, 250, 250), rgb(40, 40, 40));
$textFontColor: if($darkMode, rgb(200, 200, 200), rgb(60, 60, 60));
$linkColor: if($darkMode, #20b0f3, rgb(50, 50, 200));

$fontFamily: 'DM Sans';
$maxWidth: 100vw;
$headingFontWeight: bolder;
$headingFontSize: 20px;
$italicFontWeight: 800;
$fontSize: 15px;
$availableFontWeight: bold;
$marginTop: 20px;
$marginBottom: 40px;
$minvalue: 0;
$smallScreenBreakpoint: 280px;
